@import "function", "fonts", "variables";

//FOOTER
footer {  

  @include flexBox(row, space-evenly, center);
  flex-wrap: wrap;
    overflow-x: hidden;
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;

  .info-text {
    max-width: 500px;
    margin: 0 auto;

    div {
      line-height: 25px;
      margin-bottom: 20px;
      h3 {
        font-family: $poppins;
        color: $black;
        font-size: 0.9rem;
        font-weight: 500;
        @include flexBox(row, flex-start, center);
        img {
          width: 30px;
          margin-right: 8px;
        }
      }
      p {
        font-family: $poppins;
        color: $lightBlack;
        font-size: 0.8rem;
      }
    }
  }

  .social-network {
    @include flexBox(column, space-around, center);
    width: 40%;
    img {
      max-width: 350px;
      width: 80%;
      margin-bottom: 20px;
    }
    h3 {
      line-height: 25px;
      font-family: $poppins;
      font-weight: 500;
      font-size: 0.9rem;
      color: $black;
      margin-bottom: 20px;
      text-align: center;
    }
    .social-icons {
      @include flexBox(row, center, center);
      gap: 20px;
      img {
        height: auto;
        width: 30px;      
      }
    }
  }
}
