@import "function", "fonts", "variables";

//ESTILO DO FORMULÁRIO

.label-style {
  font-family: $poppins;
  font-size: 0.8rem;
  color: $black;
  margin-bottom: 5px;
}
.input-style {
  background: transparent;
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 2px $lightBlue;
  outline: none;
}

.form-btn {
  font-family: $poppins;
  font-size: 0.9rem;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  background: linear-gradient(180deg, #00e5ff 0%, #00b0ff 50.52%, #2979ff 100%);
  border: none;
  cursor: pointer;
  transition: all ease-in 0.3s;
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.form-title {
  margin-bottom: 20px;

  @include flexBox(row, center, center);
  img {
    width: 30px;
    margin-right: 10px;
  }

  h3 {
    font-family: $poppins;
    color: $black;
    font-size: 1rem;
    font-weight: 400;
  }
}
