@import "function", "variables", "fonts";

//BARRA DE NAVEGAÇÃO
.navbar {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  background-color: $darkBlue;
  z-index: 1000;
  #logo img {
    width: 40px;
  }
 .nav-content{
  width: 100%;
  font-size: 0.9rem;
  color: $white;
  padding: 10px 40px;
  @include flexBox(row, space-between, center);
  max-width: 1200px;
  margin: 0 auto;
 }

  .nav-links {
    @include flexBox(row, center, center);

    a {
      @include flexBox(row, center, center);
      margin-right: 20px;
      text-decoration: none;
      font-family: $poppins;
      color: $white;
      transition: 0.2s;
      &:hover {
        color: $lightGrey;
      }
    }

    img {
      width: 25px;
      margin-right: 5px;
    }
  }
}

.btn-menu {
  background: transparent;
  outline: none;
  border: none;
  display: none;
}

.menu-list {
  position: absolute;
  list-style: none;
  background-color: $darkBlue;
  transform: translateX(-70px);
  padding: 20px 25px;
  line-height: 40px;
  border-radius: 0px 0px 10px 10px;
  display: none;

  li {
    @include flexBox(row, flex-start, center);
    a {
      transition: ease-in 0.2s;
      &:hover {
        color: $lightGrey;
      }
      img {
        height: auto;
        width: 20px;
      }
    }
  }
}
