@import "footer", "function", "navbar", "fonts", "variebles", "form-style";

//FORMATAÇÃO GLOBAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//BANNER
.banner {
  height: 100vh;
  width: 100%;
  background-image: url("../image/home-waves/wave01.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 15%;
  overflow-x: hidden;

  @include flexBox(row, space-between, center);
  flex-wrap: wrap;

  .banner-text {
    @include flexBox(column, center, center);

    p {
      font-family: $poppins;
      font-weight: 400;
      color: $black;
      font-size: 2rem;
    }

    h3 {
      font-family: $poppins;
      font-weight: 500;
      color: $darkBlue;
      font-size: 2.5rem;
    }
  }

  .draw {
    height: auto;
    width: 40%;
  }
}
//SERVIÇOS
.services {
  height: auto;
  width: 100%;
  padding: 10% 10%;

  h3 {
    font-family: $poppins;
    color: $black;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 50px;
    @include flexBox(row, flex-start, center);

    img {
      width: 30px;
      margin-right: 10px;
    }
  }

  .services-list {
    @include flexBox(row, space-around, center);
    flex-wrap: wrap;
    .card {
      @include flexBox(column, space-around, center);
      margin-bottom: 30px;

      p {
        font-family: $poppins;
        color: $black;
        font-size: 0.9rem;
      }
      .card-content {
        width: 200px;
        height: 120px;
        border-radius: 10px;
        margin-bottom: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all ease-in 0.3s;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }
}

#card-manutencao {
  background-image: url("../image/cards-drawings/draw01.svg");
  background-color: $white;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

#card-infraestrutura {
  background-image: url("../image/cards-drawings/draw02.svg");
  background-color: $white;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

#card-seguranca {
  background-image: url("../image/cards-drawings/draw03.svg");
  background-color: $white;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

#card-suporte {
  background-image: url("../image/cards-drawings/draw04.svg");
  background-color: $white;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
//JANELA MODAL
.modal-bg {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  @include flexBox(row, center, center);

  .modal {
    width: 90%;
    height: auto;
    background-color: #ffff;
    border-radius: 10px;
    padding: 10% 10%;
    background-image: url("../image/home-waves/wave04.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    div {
      height: 100%;
      @include flexBox(column, center, center);
      h3 {
        font-family: $poppins;
        color: $black;
        font-size: 0.8rem;
        font-weight: 500;
        margin-bottom: 20px;
        @include flexBox(row, center, center);

        img {
          width: 20px;
          margin-right: 10px;
        }
      }

      p {
        font-family: $poppins;
        color: $black;
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 25px;
        text-align: center;
        font-weight: 400;
      }
    }

    .modal-btn {
      width: 20px;
      outline: none;
      background: transparent;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;

      img {
        width: 100%;
      }
    }
  }
}

.bg-active {
  visibility: visible;
  opacity: 1;
}
//SOBRE A EMPRESA
.info-about {
  min-height: auto;
  width: 100%;
  background-image: url("../image/home-waves/wave02.svg");
  background-repeat: no-repeat;
  background-size: cover;
  @include flexBox(row, space-between, center);
  flex-wrap: wrap;
  padding: 10% 10%;
  overflow-x: hidden;

  img {
    width: 30%;
  }

  .about-text {
    width: 50%;
    font-family: $poppins;

    .main-text {
      h3 {
        color: $black;
        font-weight: 500;
        font-size: 1rem;
      }
      p {
        color: $lightBlack;
        font-size: 0.8rem;
      }
      line-height: 25px;
      margin-bottom: 15px;
    }

    .category-text {
      @include flexBox(row, center, center);
      img {
        width: 30px;
        margin-right: 10px;
      }

      div {
        line-height: 25px;
        h4 {
          color: $black;
          font-size: 0.8rem;
          font-weight: 500;
        }
        p {
          color: $lightBlack;
          font-size: 0.8rem;
        }
      }
      margin-bottom: 15px;
    }
  }
}
//FORMULÁRIO DE ORÇAMENTO
.form-container {
  height: auto;
  background-image: url("../image/home-waves/wave03.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  padding: 10% 0%;
  @include flexBox(row, center, center);

  .form-orcamento {
    height: auto;
    width: 50%;
    border-radius: 10px;
    background-color: $white;
    border: 2px solid $lightBlue;
    background-image: url("../image/form-icons/mail.svg");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-y: 90%;
    background-position-x: 10%;
    padding: 5% 5%;

    form {
      @include flexBox(row, space-evenly, flex-end);
      flex-wrap: wrap;

      input {
        margin-bottom: 20px;
      }

      .left-column {
        @include flexBox(column, space-around, flex-start);
        width: 50%;
      }

      .right-column {
        width: 50%;
        .checkbox {
          input {
            margin-right: 10px;
          }
          label {
            margin-right: 5px;
          }
        }
        .group {
          @include flexBox(row, space-evenly, center);
          .input-group {
            @include flexBox(column, space-evenly, flex-start);
            input {
              width: 60%;
            }
          }
        }
      }
      .form-btn {
        transform: translate(130%, 90%);
      }
    }
  }
}

//DETALHE DOS SERVIÇOS

.services-main {
  height: auto;
  width: 100%;
  background-image: url("../image/services-waves/wave01.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20vh 10% 10% 10%;
  overflow-x: hidden;
  h3 {
    @include flexBox(row, flex-start, center);
    font-family: $poppins;
    color: $black;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 50px;
    img {
      width: 30px;
      margin-right: 10px;
    }
  }
  .services-container {
    @include flexBox(row, space-evenly, center);
    flex-wrap: wrap;

    div {
      width: 40%;
      margin-bottom: 30px;
      line-height: 25px;

      h4 {
        font-family: $poppins;
        color: $black;
        font-weight: 500;
        font-size: 0.9rem;
        margin-bottom: 5px;
        @include flexBox(row, flex-start, center);
        img {
          width: 20px;
          margin-right: 10px;
        }
      }
      p {
        font-family: $poppins;
        color: $lightBlack;
        font-weight: 400;
        font-size: 0.8rem;
      }
    }
  }
}

//MAIS SOBRE OS SERVIÇOS

.more-services {
  padding: 10%;
  height: auto;
  width: 100%;
  background-image: url("../image/services-waves/wave02.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include flexBox(row, space-evenly, center);
  flex-wrap: wrap;
  overflow-x: hidden;

  img {
    width: 40%;
  }
  .more-container {
    width: 60%;
    line-height: 25px;
    h3 {
      font-family: $poppins;
      font-weight: 500;
      font-size: 0.9rem;
      color: $black;
      margin-bottom: 20px;
      @include flexBox(row, flex-start, center);

      img {
        width: 20px;
        margin-right: 10px;
      }
    }
    p {
      font-family: $poppins;
      color: $lightBlack;
      font-weight: 400;
      font-size: 0.8rem;
      margin-bottom: 20px;
    }

    ul {
      font-family: $poppins;
      color: $black;
      font-weight: 400;
      font-size: 0.8rem;
      list-style-image: url("../image/service-icons/ellipse.svg");
      line-height: 40px;
      margin-left: 15px;
      margin-bottom: 40px;
    }
  }
}

//CHAMADO

.calls-content {
  padding: 20vh 10% 10% 10%;
  width: 100%;
  height: auto;
  background-image: url("../image/call-wave/wave01.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include flexBox(row, space-between, center);
  flex-wrap: wrap;
  overflow-x: hidden;

  .calls-draw {
    width: 40%;
  }

  .form-calls {
    height: auto;
    width: 50%;
    background-color: $white;
    border-radius: 10px;
    border: 2px solid $lightBlue;
    padding: 5% 0%;
    margin-bottom: 40px;

    form {
      .form-content {
        @include flexBox(row, space-evenly, center);

        input {
          margin-bottom: 20px;
          width: 100%;
        }
        .left-column {
          @include flexBox(column, center, flex-start);
          width: 40%;
        }

        .right-column {
          width: 40%;
          @include flexBox(column, center, flex-start);
        }
      }
      .call-description {
        margin: 0% 8%;
        @include flexBox(column, center, flex-start);
        textarea {
          resize: none;
          width: 100%;
          height: 120px;
          margin-bottom: 20px;
          font-family: $poppins;
          font-size: 0.8rem;
          color: $black;
        }
      }
      .call-btn {
        @include flexBox(row, center, center);
      }
    }
  }
}

//CONTATO

.contact-container {
  padding: 20vh 10% 10% 10%;
  height: auto;
  width: 100%;
  background-image: url("../image/contact-wave/wave01.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include flexBox(row, center, center);
  flex-wrap: wrap;
  overflow-x: hidden;

  .form-contact {
    width: 50%;
    height: auto;
    background-color: $white;
    border-radius: 10px;
    border: 2px solid $lightBlue;
    padding: 5%;
    margin-bottom: 40px;

    form {
      @include flexBox(column, center, 0);
      .form-inputs {
        @include flexBox(column, center, flex-start);
        input {
          width: 100%;
          margin-bottom: 20px;
        }

        textarea {
          resize: none;
          width: 100%;
          height: 120px;
          margin-bottom: 20px;
          font-family: $poppins;
          font-size: 0.8rem;
        }
      }

      .contact-btn {
        @include flexBox(row, center, center);
      }
    }
  }

  .contact-details {
    @include flexBox(column, center, center);
    padding: 5%;
    width: 50%;
    height: auto;
    font-family: $poppins;

    h3 {
      font-weight: 500;
      font-size: 0.9rem;
      margin-bottom: 20px;
      color: $black;
      @include flexBox(row, center, center);
      img {
        margin-right: 8px;
        width: 30px;
      }
    }

    ul {
      line-height: 40px;
      li {
        color: $lightBlack;
        font-size: 0.8rem;
        @include flexBox(row, 0, center);
        img {
          margin-right: 8px;
          width: 20px;
        }
      }
    }
  }
}

//MEDIA QUERYS

@media screen and (max-width: 1270px) {
  .form-container {
    .form-orcamento {
      width: 80%;
    }
  }
}

@media screen and (max-width: 1050px) {
  .info-about {
    img {
      width: 50%;
    }
  }
}

@media screen and (min-width: 800px) {
  .modal-bg {
    .modal {
      width: 60%;
    }
  }
}

@media screen and (max-width: 800px) {
  .banner {
    .banner-text {
      transform: translateY(70px);
      z-index: -100;
    }
    @include flexBox(column, space-evenly, center);

    .draw {
      width: 60%;
    }
  }

  .navbar {
    .nav-links {
      .hidden {
        display: none;
      }

      .btn-menu {
        display: block;
      }
    }
  }

  .contact-container {
    .form-contact {
      width: 100%;
    }
    .contact-details {
      width: 100%;
    }
  }
}

@media screen and (max-width: 760px) {
  .form-container {
    .form-orcamento {
      background-position-y: 98%;

      form {
        @include flexBox(row, center, center);
        .right-column {
          width: 80%;
          .group {
            .input-group {
              input {
                width: 80%;
              }
            }
          }
        }

        .left-column {
          width: 80%;
          input {
            width: 100%;
          }
        }

        .form-btn {
          transform: translate(-10px, 20px);
        }
      }
    }
  }

  .services-main {
    .services-container {
      div {
        width: 95%;
      }
    }
  }

  .more-services {
    img {
      width: 80%;
    }
    .more-container {
      width: 90%;
    }
  }

  .calls-content {
    .form-calls {
      width: 100%;
    }

    .calls-draw {
      margin: auto;
      width: 80%;
    }
  }
}

@media screen and (max-width: 730px) {
  .info-about {
    @include flexBox(column, center, space-between);
    img {
      width: 60%;
      margin-bottom: 50px;
    }
    .about-text {
      width: 80%;
    }
  }

  footer {
    .info-text {
      width: 80%;
      margin-bottom: 50px;
    }
    .social-network {
      width: 80%;
    }
  }
}

@media screen and (max-width: 440px) {
  .banner {
    .draw {
      width: 70%;
    }

    .banner-text {
      p {
        font-size: 1.5rem;
      }

      h3 {
        font-size: 1.8rem;
      }
    }
  }
}
