//? contato
.contact-container {
  height: auto;
  width: 100%;
  background-image: url("../../img/contact-wave/wave01.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
  overflow-x: hidden;

  .contact-content {
    @include flexbox(row, space-between, center);
    gap: 60px;
    flex-wrap: wrap;
    max-width: $wrapper;
    margin: 20px auto;
    padding: 40px;

    .contact-details {
      @include flexbox(column, center, flex-start);
      margin: 0 auto;
      height: auto;
      font-family: $title-font;

      h3 {
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 30px;
        color: $pi-c5;
        @include flexbox(row, center, center);
        img {
          margin-right: 8px;
          height: 34px;
          width: 34px;
        }
      }

      ul {
        line-height: 1.8;
        li {
          color: $pi-c4;
          font-size: 1rem;
          margin-bottom: 16px;
          @include flexbox(row, 0, center);
          img {
            margin-right: 8px;
            height: 22px;
            width: 22px;
          }
        }
      }
    }
    @include device(m) {
      padding: 20px;
    }
  }
}
