//cores
$pi-c1: #fff;
$pi-c2: #f1f1f1;
$pi-c3: #bdc3c7;
$pi-c4: #606060;
$pi-c5: #404040;
$pi-c6: #212121;
$pi-c7: #00b0ff;
$pi-c8: #2979ff;
$pi-c9: #1f66df;

//fontes
$title-font: "Poppins", sans-serif;
$content-font: "Open Sans", sans-serif;

// devices
$x-device: 2000px;
$l-device: 1200px;
$m-device: 900px;
$s-device: 500px;

// embrulho
$wrapper: 1200px;
